.title {
  color:  #ffb366;
}
.subtitle {
  color: #ffcc99;
}
body {
  font-family: FreeMono, monospace;
  background-image: url("/static/image/coffee4.jpeg");
}
p{
  color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #804000;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6F330E;
  color: black;
  text-align: center;
}
